@font-face {
    font-family: myFontLogo;
    src: url(./font/PsBold-2Oy2w.ttf);
}

/* style.css */
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: #22262C;
    margin-left: -120px;
}

body {

    background-color: #DADDE6;
    font-family: Arial, Helvetica, sans-serif;
    color: #22262C;
}

.game {
    background-color: #002feb;
}

header {
    padding: 30px 170px;
    font-family: myFontLogo;
    font-size: 25px;
    color: #22262C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg-menu {
    vertical-align: middle;
}

.container {
    padding: 10px 10px;
}

.bg {
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 280px;
    max-height: 800px;
}

.home-text {
    color: #080808;
    position: absolute;
    top: 300px;
    left: 810px;
    font-size: 90px;
    text-shadow: 0px 2px 3px rgb(6, 6, 6);

}

.home-img {
    position: relative;
    top: -140px;
    left: -500px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    margin: 30px auto;
    filter: drop-shadow(2px 2px 30px rgba(39, 39, 39, 0.5));

}

.middle-home p {
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin: 50px auto;
    text-align: center;
    color: black;
    position: relative;
    top: -520px;
    left: 290px;
}

.btn-saber {
    position: relative;
    top: -540px;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 60px;
    margin: 50px auto;
    text-align: center;
    color: #0b0b0b;
    background-color: #DADDE6;
    border-radius: 50px;
    border: 2px solid #070707;
    transition: 1.5s;
}

.btn-saber:hover {

    color: rgb(17, 17, 17);
    text-shadow: 3px 3px 20px #1c1d1e,
        -2px 1px 30px #3498db;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    border: 2px solid #3498db;
}

.social-media {
    position: relative;
    display: block;
    top: 150px;
    bottom: -250px;
    left: 20px;
    list-style: none;
    color: #22262c;
}

.portifolio {}