body {
    background-image: url(../img/meliodas/bg.svg);
    background-size: cover;
    overflow-y: hidden;

}

nav li {
    list-style: none;
}

.menu img {
    width: 80px;
    float: left;
    
    margin-right: 30px;
}

.barra {
    position: absolute;
    top: 0;
    right: 0
}
.barra img{
    width: 664px;
}

.perssonagem{
    position: absolute;
    top: 0;
    right: 0px;
    
}

.perssonagem img{
    width: 670px;
}